[Unit]
Description=AutoSetWebcamId
After=crowsnest.service


[Service]
Type=oneshot
ExecStart=bash /root/auto-webcam-id.sh

[Install]
WantedBy=multi-user.target



